<div class="cart">
  <form [formGroup]="submitForm" (ngSubmit)="loginUser()">
    <input
      type="text"
      name="firstName"
      placeholder="First Name"
      formControlName="firstName"
    />
    <br />
    <input
      type="text"
      name="lastName"
      placeholder="Last Name"
      formControlName="lastName"
    /><br />
    <input
      type="password"
      name="password"
      placeholder="Password"
      formControlName="password"
    /><br />
    <button>login</button>
  </form>
</div>
