<form>
  <div>
    <input type="text" name="name" id="name" placeholder="First Name" />
    <input type="text" name="lastName" id="lastName" placeholder="Last Name" />
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Password"
    />
    <input
      type="password"
      name="conformPassword"
      id="conformPassword"
      placeholder="Conform Password"
    />
    <input
      class="check"
      type="checkbox"
      name="showPassword"
      id="showPassword"
    />Show Password
  </div>
</form>
