<form [formGroup]="loginForm" (ngSubmit)="userLogin()">
  <input
    type="text"
    name="firstName"
    placeholder="First Name"
    formControlName="firstName"
  />
  <br /><br />
  <input
    type="text"
    name="lastName"
    placeholder="Last Name"
    formControlName="lastName"
  />
  <br /><br />

  <input
    type="{{ showPassword ? 'text' : 'password' }}"
    id="password"
    formControlName="password"
  />
  <div *ngIf="">
    Password must be at least 8 characters long.
  </div>

  <label>
    <input type="checkbox" (change)="togglePasswordVisibility()" />
    Show Password
    <button>Login</button>
    <form></form
  ></label>
</form>
